$default-color-white:rgba(255, 255, 255, 1);
$default-color-green:rgba(188, 193, 197, 1);
$default-color-light-orange:rgba(251, 205, 141, 1);
$default-color-dark-orange:rgba(248, 155, 28, 1);
$default-color-blak:rgba(21, 35, 43, 1);

